body{
    background-color: #000000;
}
.botones{
    font-size:20px;
    color:#fff;
    width: 220px;
}
.input-parameter{
    width: 215px;
}
.fractals{
    background-color: rgba(23,70,138,1);
    border-color: rgba(54,70,138,1);
}
.spheres {
    background-color: rgba(120,229,235,1);
    border-color: rgba(120,229,235,1);
}
.cylinders {
    background-color: rgba(76,141,235,1);
    border-color: rgba(76,141,235,1);
}
.position{
    background-color: rgba(54,90,172,1);
    border-color: rgba(54,90,172,1);
}
.rotation{
    background-color: rgba(225,45,83,1);
    border-color: rgba(225,45,83,1);
}